<%- include('parts/header') %>
<%- include('parts/navbar') %>


<body class="">
    <div class="container py-5 animsition">
        <p class="alert alert-danger">
            you are not Admin
        </p>
    </div>

    <%- include('parts/footer')%>
    <%- include('parts/footer')%>