<%- include('parts/header') %>
<%- include('parts/navbar') %>


<body class="">
    <div class="container py-5 animsition">
        <p class="alert alert-danger">
            404 Page not Found
        </p>
    </div>

    <%- include('parts/footer')%>