<%- include('parts/header') %>
<%- include('parts/navbar') %>
<div class="container text-center">
    <form method="POST">

        <input type="hidden" name="cartId" value="<%= cartId %>">

        <input type="text" name="firstName" placeholder="firstName">
        <input type="text" name="lastName" placeholder="lastName">
        <input type="text" name="addressLine1" placeholder="firstName">
        <input type="text" name="addressLine2" placeholder="firstName">
        <input type="text" name="city" placeholder="firstName">
        <input type="text" name="mobileNumber" placeholder="firstName">
        <input type="submit" value="Order" formaction="/orders/orderAll">


    </form>
</div>
<%- include('parts/footer') %>